span {
  background-color: white;
  color: black;
  font-size: 30px;
}

.msg-info {
  background-color: white;
  color: rgb(208, 97, 204);
}
p {
  background-color: rgb(234, 213, 213);
  font-size: 20px;
  color: rgb(202, 105, 228);
}

.bname {
  background-color: transparent;
  color: wheat;
}

.css-183lzff.eyqtai90 {
  background-color: transparent;
}

div,
button {
  background-color: transparent;
}

.st-c6 {
  background-color: transparent;
}
